:root {
  /* Primary Color */
  --red: var(hsl(0, 100%, 74%));
  --green: var(hsl(154, 59%, 51%));

  /* Accent */
  --blue: var(hsl(248, 32%, 49%));

  /* Neutral */
  --dark_blue: var(hsl(249, 10%, 26%));
  --grayish_blue: var(hsl(246, 25%, 77%));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: poppins;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  body {
    overflow: auto;
  }

  .wrapper {
    background-color: hsl(0, 100%, 74%);
    background-position: fit;
    background-repeat: none;
    width: 100%;
    height: 100%;
  }
  .container {
    background-image: url(./imgs/bg-intro-mobile.png);
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
    display: block;
  }

  .greetings {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .greetings > h1 {
    color: #ffffff;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    margin-top: 2em;
  }

  .greetings > p {
    color: #ffffff;
    margin-top: 2em;
    text-align: center;
    font-size: 16px;
    padding: 5px;
  }
  .form {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .form_title {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 8px 5px hsl(249, 10%, 26%);
    width: 100%;
  }

  .form_title {
    color: hsl(246, 25%, 77%);
  }

  .form_title > h3 > span {
    color: #ffffff;
  }

  .main_form {
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
  }
  .btn {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: hsl(154, 59%, 51%);
    border: none;
    width: 100%;
  }

  .lastp {
    font-size: medium;
    text-align: center;
    color: hsl(249, 10%, 26%);
    margin-top: 15px;
  }

  .lastp > span {
    color: tomato;
    font-size: medium;
  }
}
