:root {
  /* Primary Color */
  --red: var(hsl(0, 100%, 74%));
  --green: var(hsl(154, 59%, 51%));

  /* Accent */
  --blue: var(hsl(248, 32%, 49%));

  /* Neutral */
  --dark_blue: var(hsl(249, 10%, 26%));
  --grayish_blue: var(hsl(246, 25%, 77%));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: poppins;
  font-weight: 400;
}

.wrapper {
}
